

<div class="container mt-5">

    <div class="row">
        <div class="col-sm-3">

            <img class="card-img-top" src="../../public/images/1.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">john@example.com</p>
                <a href="profile.html" class="btn btn-primary">See Profile</a>
            </div>

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cpanel/product">Sản Phẩm</a>
                    <ul>
                        <li>
                            <a href="/cpanel/product/${id}/edit" aria-hidden="true">Chi tiết sản phẩm</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/cpanel/product/new"> Thêm mới</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                </li>

            </ul>
        </div>

        <div class="col-sm-9" id="body">
            <h3>Cập nhật sản phẩm</h3>
            <form id="formnews" action="/cpanel/product/{{product._id}}/edit" method="post" enctype="multipart/form-data">
                <div id="formInput">
                    <label for="fname">Name</label><br>
                    <input type="text" id="name" name="name" value="{{product.name}}"><br>
                    <label for="lname">Detail</label><br>
                    <input type="text" id="price" name="price" value="{{product.detail}}"><br>
                    <label for="lname">EmailContact</label><br>
                    <input type="email" id="quantity" name="quantity" value="{{product.emailContact}}"><br>
                    <label for="lname">PhoneNumber</label><br>
                    <input type="number" id="quantity" name="quantity" value="{{product.phoneNumber}}"><br>
                    <div>
                        <label for="lname">Image</label><br>
                        <input onchange="displayImg(this)" type="file" id="image" name="image" value=""><br>
                        <img id="img"  src="{{product.image}}" width="100" height="100">
                    </div>
                    <div>
                        <label>Category</label>
                        <select name="category">
                            {{#each categories}}
                            {{#if this.selected}}
                            <option selected value="{{this._id}}">{{this.name}}</option>
                            {{else}}
                            <option value="{{this._id}}">{{this.name}}</option>
                            {{/if}}
                            {{/each}}
                        </select>
                    </div>
                    <button type="submit" class="btnSubmit">Submit</button>
                </div>
            </form>
        </div>


    </div>
</div>
</div>

<script>
    //hien tam hinh moi thay hinh cu~
    const displayImg =(input) => {
        if(input.files && input.files[0]){
            var reader=new FileReader();
            reader.onload= function(e){
                $('#img').attr('src',e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
      
    }

</script>